download/beregnetskatt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="no:skatteetaten:datasamarbeid:beregnetskatt:v1" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="no:skatteetaten:datasamarbeid:beregnetskatt:v1">
    <xsd:annotation>
        <xsd:documentation>
            <xsd:attribute fixed="2020-06-04T14:25:28.040+0200" name="generertDato"/>
            <xsd:attribute fixed="1.6" name="versjon"/>
            <xsd:attribute fixed="" name="beskrivelse"/>
            <xsd:attribute fixed="BeregnetSkatt" name="modellnavn"/>
            <xsd:attribute fixed="no:skatteetaten:datasamarbeid:beregnetskatt:v1" name="navnerom"/>
            <xsd:attribute fixed="true" name="begrepsreferanse"/>
            <xsd:attribute fixed="true" name="dokumentasjon"/>
            <xsd:attribute fixed="false" name="nillable"/>
            <xsd:attribute fixed="false" name="modellelement"/>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="beregnetSkatt" type="BeregnetSkatt"/>
    <xsd:complexType name="BeregnetSkatt" skatt:begrepsreferanse="beregnet skatt">
        <xsd:sequence>
            <xsd:element name="personidentifikator" type="Foedselsnummer">
                <xsd:annotation>
                    <xsd:documentation>Gjeldene personidentifikator for personen det ble søkt på</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="inntektsaar" type="Aarstall">
                <xsd:annotation>
                    <xsd:documentation>	Inntektsåret det ble søkt på</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="sumSaerfradrag" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/anvendt%20s%C3%A6rfradrag" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="personinntektLoenn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/personinntekt%20fra%20l%C3%B8nnsinntekt" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="personinntektFiskeFangstFamiliebarnehage" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/367f2cb9-a9e1-11e8-8514-005056821322" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="personinntektNaering" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/367f2cbb-a9e1-11e8-8514-005056821322" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="personinntektBarePensjonsdel" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/367f2cc1-a9e1-11e8-8514-005056821322" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="tolvdeler" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/98da4353-dff2-11e7-a0fd-005056821322" type="Heltall"/>
            <xsd:element minOccurs="0" name="skatteklasse" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/skatteklasse" type="Tekst"/>
            <xsd:element minOccurs="0" name="nettoformue" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/649cbce3-ad07-11e8-8ffd-005056821322" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="nettoinntekt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/e88c7380-5684-11e7-a43d-0050568351d2" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="utlignetSkatt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/beregnet%20skatt" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="svalbardLoennLoennstrekkordningen" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/367f2ca4-a9e1-11e8-8514-005056821322" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="svalbardPensjonLoennstrekkordningen" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/367f2cb8-a9e1-11e8-8514-005056821322" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="svalbardPersoninntektNaering" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/367f2cbb-a9e1-11e8-8514-005056821322" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="svalbardLoennUtenTrygdeavgiftLoennstrekkordningen" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/367f2ca5-a9e1-11e8-8514-005056821322" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="svalbardNettoformue" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/649cbce3-ad07-11e8-8ffd-005056821322" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="svalbardNettoinntekt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/e88c7380-5684-11e7-a43d-0050568351d2" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="svalbardUtlignetSkatt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/beregnet%20skatt" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="svalbardUfoeretrygdLoennstrekkordningen" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/367f2cd5-a9e1-11e8-8514-005056821322" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skjermet" skatt:begrepsreferanse="https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/information_skjerming.html" type="Boolsk"/>
            <xsd:element minOccurs="0" name="formueskattStat" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/649cbcd8-ad07-11e8-8ffd-005056821322" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="formueskattKommune" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/649cbcd7-ad07-11e8-8ffd-005056821322" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="kreditfradragFormue" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="kreditfradragInntekt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/649cbcea-ad07-11e8-8ffd-005056821322" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="alminneligInntektFoerSaerfradrag" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/e88c7380-5684-11e7-a43d-0050568351d2" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skatteoppgjoersdato" type="Dato"/>
            <xsd:element minOccurs="0" name="skatteregnskapskommune" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/skatteregnskapskommune" type="Kommunenummer"/>
            <xsd:element minOccurs="0" name="svalbardSkattOrdinaerAlminneligInntekt" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="svalbardFormueskatt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/649cbcd8-ad07-11e8-8ffd-005056821322" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="svalbardFastsattSkattEtterLoennstrekkordningen" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="svalbardSkatteregnskapskommune" type="Kommunenummer"/>
            <xsd:element minOccurs="0" name="kildeskattPaaLoennNettoinntekt" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="kildeskattPaaLoennNettoformue" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="kildeskattPaaLoennBetaltSkattOgAvgift" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="kildeskattPaaLoennPersoninntektLoenn" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="kildeskattPaaLoennPersoninntektBarePensjonsdel" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="kildeskattPaaLoennSkatteregnskapskommune" type="Kommunenummer"/>
            <xsd:element minOccurs="0" name="kildeskattPaaLoennSkatteklasse" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/skatteklasse" type="Tekst"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Tekst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett 
</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Foedselsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5138da10-be20-11e6-8004-005056825ca0">
        <xsd:annotation>
            <xsd:documentation>ellevesifret identifikasjonsnummer for personer bosatt i Norge, der de seks første sifrene angir fødselsdato og de fem siste personnummer.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:pattern value="[0-9]+"/>
            <xsd:length value="11"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Aarstall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e14a-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>årstall er et tall som angir årets nummer i tidsregningen i den gregorianske kalender</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:gYear"/>
    </xsd:simpleType>
    <xsd:simpleType name="Heltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af0-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>hele tall, dvs. hele tall i mengden {..., -2, -1, 0, 1, 2, ...}</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>
    <xsd:simpleType name="BeloepSomHeltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>en sum av penger i hele kroner brukt i en kontekst. Dette kan være en transaksjon, saldo o.l. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Heltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Boolsk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>angir verdien sann eller usann</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="Dato" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aed-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i  ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times). 
Eksempel : 1998-12-21 eller 19981221. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:simpleType name="Kommunenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f3-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>nummer for kommune</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:pattern value="([0-9]){4}"/>
            <xsd:length value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>