download/feil.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:no:skatteetaten:datasamarbeid:feil:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="feil">
    <xs:complexType>
        <xs:sequence>
            <xs:element type="xs:string" name="kode"/>
            <xs:element type="xs:string" name="melding"/>
            <xs:element type="xs:string" minOccurs="0" name="korrelasjonsid"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>