download/inntektsmottaker.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:no:skatteetaten:datasamarbeid:inntektsmottaker:inntekt:v1" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:no:skatteetaten:datasamarbeid:inntektsmottaker:inntekt:v1">
    <xsd:annotation>
        <xsd:documentation>
            <xsd:attribute fixed="2021-04-23T08:35:17.546+0200" name="generertDato"/>
            <xsd:attribute fixed="1.6" name="versjon"/>
            <xsd:attribute fixed="&#10;Konstruksjonsmodell for inntektsmottakere. Beskriver inntektsinformasjon for en eller flere inntektsmottakere i en virksomhet. Innrapportet av en opplysningspliktig. " name="beskrivelse"/>
            <xsd:attribute fixed="Inntektsmottaker" name="modellnavn"/>
            <xsd:attribute fixed="urn:no:skatteetaten:datasamarbeid:inntektsmottaker:inntekt:v1" name="navnerom"/>
            <xsd:attribute fixed="true" name="begrepsreferanse"/>
            <xsd:attribute fixed="true" name="dokumentasjon"/>
            <xsd:attribute fixed="false" name="nillable"/>
            <xsd:attribute fixed="false" name="modellelement"/>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="oppgaverInntektsmottaker" type="OppgaverInntektsmottaker"/>
    <xsd:complexType name="OppgaverInntektsmottaker">
        <xsd:annotation>
            <xsd:documentation>Samling av oppgaver for inntektsmottakere </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="oppgaveInntektsmottaker" type="OppgaveInntektsmottaker"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AldersUfoereEtterlatteAvtalefestetOgKrigspensjon" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/7e881910-1b58-11e7-8e60-0050568351d2">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="grunnpensjonsbeloep" type="Desimaltall"/>
            <xsd:element minOccurs="0" name="tilleggspensjonsbeloep" type="Desimaltall"/>
            <xsd:element minOccurs="0" name="ufoeregrad" type="Heltall"/>
            <xsd:element minOccurs="0" name="pensjonsgrad" type="Heltall"/>
            <xsd:element minOccurs="0" name="heravEtterlattepensjon" type="Desimaltall"/>
            <xsd:element minOccurs="0" name="tidsrom" type="Periode"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BilOgBaat" skatt:begrepsreferanse="&lt;html&gt;&#10;  &lt;head&gt;&#10;&#9;&#9;&lt;style&gt;&#10;&#9;&#9;&#9;p {padding:0px; margin:0px;}&#10;&#9;&#9;&lt;/style&gt;&#10;&#9;&lt;/head&gt;&#10;  &lt;body&gt;&#10;    &lt;p&gt;&#10;&lt;a href=&quot;https://data.skatteetaten.no/begreper/86c97610-1b6b-11e7-8e60-0050568351d2&quot;&gt;https://data.skatteetaten.no/begreper/86c97610-1b6b-11e7-8e60-0050568351d2&lt;/a&gt;&#10;&#10;    &lt;/p&gt;&#10;&#10;&lt;/body&gt;&#10;&lt;/html&gt;">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="antallKilometer" type="Desimaltall"/>
            <xsd:element minOccurs="0" name="antallReiser" type="Heltall"/>
            <xsd:element minOccurs="0" name="heravAntallKilometerMellomHjemOgArbeid" type="Desimaltall"/>
            <xsd:element minOccurs="0" name="listeprisForBil" type="Desimaltall"/>
            <xsd:element minOccurs="0" name="bilregistreringsnummer" type="Tekst"/>
            <xsd:element minOccurs="0" name="erBilPool" type="Boolsk"/>
            <xsd:element minOccurs="0" name="erAnnenBil" type="Boolsk"/>
            <xsd:element minOccurs="0" name="erBilUtenforStandardregelen" type="Boolsk"/>
            <xsd:element minOccurs="0" name="personklassifiseringAvBilbruker" type="Tekst"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BonusFraForsvaret" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/916e6030-1b6b-11e7-8e60-0050568351d2">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="aaretUtbetalingenGjelderFor" type="Aarstall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DagmammaIEgenBolig" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb471c-e484-11e6-9cb3-005056821322">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="antallBarn" type="Heltall"/>
            <xsd:element minOccurs="0" name="antallMaaneder" type="Heltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Forskuddstrekk" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/forskuddstrekk">
        <xsd:annotation>
            <xsd:documentation>skatt på trekkpliktig inntekt som betales av personlige skattepliktige i løpet av året inntekten oppstår, ved at arbeidsgiver foretar skattetrekk i lønn og andre trekkpliktige godtgjørelser i arbeids- og oppdragsforhold
</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="beloep" type="Heltall">
                <xsd:annotation>
                    <xsd:documentation>beløp forskudd</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="beskrivelse" type="Tekst"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ForskuddstrekkListe">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="forskuddstrekk" type="Forskuddstrekk">
                <xsd:annotation>
                    <xsd:documentation>skatt på trekkpliktig inntekt som betales av personlige skattepliktige i løpet av året inntekten oppstår, ved at arbeidsgiver foretar skattetrekk i lønn og andre trekkpliktige godtgjørelser i arbeids- og oppdragsforhold</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Fradrag" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb4737-e484-11e6-9cb3-005056821322">
        <xsd:annotation>
            <xsd:documentation>beløp som kan trekkes fra grunnlaget for beskatning/avgift eller direkte fra selve skatten/avgiften.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="beskrivelse" type="Tekst"/>
            <xsd:element minOccurs="0" name="beloep" type="Desimaltall">
                <xsd:annotation>
                    <xsd:documentation>beløp fradrag</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FradragListe">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="fradrag" type="Fradrag"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IdentifiserendeInformasjon">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="navn" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>ord som noen eller noe kalles for å referere til</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="foedselsdato" type="Dato"/>
            <xsd:element minOccurs="0" name="ansattnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/ansattnummer" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>ansattnummer gitt av arbeidsgiver</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IdentifiserendeInformasjonWrapper">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="identifiserendeInformasjon" type="IdentifiserendeInformasjon"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Inntekt" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb474a-e484-11e6-9cb3-005056821322">
        <xsd:annotation>
            <xsd:documentation>	
inntekt (begrep)
samlebetegnelse for lønnsinntekt (herunder kapitalinntekt), ytelser fra det offentlige, pensjon, trygd og næringsinntekt</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="loennsinntekt" type="Loennsinntekt">
                    <xsd:annotation>
                        <xsd:documentation>vederlag, godtgjøring for et arbeid el. en tjeneste, bergingslønn 2 fastsatt betaling for et arbeid, gasje dagsl-, månedsl-, årsl-. Se fordel</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ytelseFraOffentlige" type="YtelseFraOffentlige">
                    <xsd:annotation>
                        <xsd:documentation>utbetaling fra staten som skal sikre økonomisk trygghet ved å sikre inntekt og kompensere for særlige utgifter ved arbeidsløshet, svangerskap og fødsel, aleneomsorg for barn, sykdom og skade, uførhet, alderdom og dødsfall.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="pensjonEllerTrygd" type="PensjonEllerTrygd">
                    <xsd:annotation>
                        <xsd:documentation>typer pensjon eller trygd</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="naeringsinntekt" type="Naeringsinntekt">
                    <xsd:annotation>
                        <xsd:documentation>resultat av foretakets virksomhet, og beregnes ut fra resultatregnskap.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element minOccurs="0" name="skatteOgAvgiftsregel" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb47ae-e484-11e6-9cb3-005056821322" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>kategorisering i behandlingstyper av en godtgjørelse i henhold til visse hovedtrekk ved godtgjørelsen eller hvor den er opptjent eller hvilken yrkesgruppe, med tilhørende avtaleverk, inntektsmottakeren tilhører osv.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fordel" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b574089b-d96a-11e6-8d9b-005056821322" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>økonomisk verdi som kommer fra andre eller som oppstår innenfor den skattepliktiges egen økonomi
</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="utloeserArbeidsgiveravgift" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb47d9-e484-11e6-9cb3-005056821322" type="Boolsk">
                <xsd:annotation>
                    <xsd:documentation>inntekt som favnes av folketrygdlovens § 23-2 som beregningsgrunnlag for arbeidsgiveravgift.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="inngaarIGrunnlagForTrekk" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb4746-e484-11e6-9cb3-005056821322" type="Boolsk">
                <xsd:annotation>
                    <xsd:documentation>inntekt som inngår i grunnlag for trekk</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="beloep" type="Desimaltall">
                <xsd:annotation>
                    <xsd:documentation>beløp inntekt</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Inntekter">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="inntekt" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb474a-e484-11e6-9cb3-005056821322" type="Inntekt"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Inntektsmottaker" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb474b-e484-11e6-9cb3-005056821322">
        <xsd:annotation>
            <xsd:documentation>part som mottar lønn, pensjon, ytelser m.v.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="personidentifikator" type="Tekst"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Livrente" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb4767-e484-11e6-9cb3-005056821322">
        <xsd:sequence>
            <xsd:element name="totaltUtbetaltBeloep" type="Desimaltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LottOgPartInnenFiske" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb4769-e484-11e6-9cb3-005056821322">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="antallDager" type="Heltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Loennsinntekt" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb476f-e484-11e6-9cb3-005056821322">
        <xsd:annotation>
            <xsd:documentation>vederlag, godtgjøring for et arbeid el. en tjeneste, bergingslønn 2 fastsatt betaling for et arbeid, gasje dagsl-, månedsl-, årsl-. Se fordel</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="beskrivelse" type="Loennsbeskrivelse">
                <xsd:annotation>
                    <xsd:documentation>beskrivelse på hvilken kategori av lønnsinntekt som en lønnsutbetaling tilhører</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="tilleggsinformasjon" type="Tilleggsinformasjon"/>
            <xsd:element minOccurs="0" name="spesifikasjon" type="Spesifikasjon"/>
            <xsd:element minOccurs="0" name="antall" type="Tekst"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Nettoloennsordning" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb4777-e484-11e6-9cb3-005056821322">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="oppgrossingstabellnummer" type="Heltall"/>
            <xsd:element minOccurs="0" name="bilinformasjon" type="BilOgBaat"/>
            <xsd:element minOccurs="0" name="betaltSkattebeloepIUtlandet" type="Desimaltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NorskKontinentalsokkel" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb475c-e484-11e6-9cb3-005056821322">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="tidsrom" type="Periode"/>
            <xsd:element minOccurs="0" name="gjelderLoennFoerste60Dager" type="Boolsk"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Naeringsinntekt" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb4779-e484-11e6-9cb3-005056821322">
        <xsd:annotation>
            <xsd:documentation>resultat av foretakets virksomhet, og beregnes ut fra resultatregnskap.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="beskrivelse" type="Naeringsinntektbeskrivelse">
                <xsd:annotation>
                    <xsd:documentation>Oversikt over hvilke &lt;beskrivelse&gt; koder som brukes for &lt;pensjonEllerTrygd&gt;. Gyldighetsperiode styrer hvilken periode en &lt;beskrivelse&gt; kode er i bruk.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="tilleggsinformasjon" type="Tilleggsinformasjon"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OppgaveInntektsmottaker">
        <xsd:annotation>
            <xsd:documentation>oppgave med inntekts- og arbeidsforhold for en inntektsmottaker

</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="opplysningspliktigId" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb4783-e484-11e6-9cb3-005056821322" type="Tekst"/>
            <xsd:element minOccurs="0" name="virksomhetId" type="Tekst"/>
            <xsd:element name="kalendermaaned" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb4756-e484-11e6-9cb3-005056821322" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>måned i et bestemt år en a-melding søker å dekke opplysningsplikten for.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="inntektsmottaker" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb474b-e484-11e6-9cb3-005056821322" type="Inntektsmottaker">
                <xsd:annotation>
                    <xsd:documentation>part som mottar lønn, pensjon, ytelser m.v.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="skjermet" type="Boolsk"/>
            <xsd:element minOccurs="0" name="inntekter" type="Inntekter"/>
            <xsd:element minOccurs="0" name="fradragListe" type="FradragListe"/>
            <xsd:element minOccurs="0" name="forskuddstrekkListe" type="ForskuddstrekkListe"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PensjonEllerTrygd" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/e59f0af0-2418-11e7-8e60-0050568351d2">
        <xsd:annotation>
            <xsd:documentation>Samlebegrep for pensjons- og trygdeytelser</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="beskrivelse" type="PensjonEllerTrygdBeskrivelse">
                <xsd:annotation>
                    <xsd:documentation>Oversikt over hvilke &lt;beskrivelse&gt; koder som brukes for &lt;pensjonEllerTrygd&gt;. Gyldighetsperiode styrer hvilken periode en &lt;beskrivelse&gt; kode er i bruk.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="tilleggsinformasjon" type="Tilleggsinformasjon"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReiseKostOgLosji" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/f229a500-2418-11e7-8e60-0050568351d2">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="persontype" type="Tekst"/>
            <xsd:element minOccurs="0" name="antallReiser" type="Heltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Spesifikasjon" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/feef9a60-2418-11e7-8e60-0050568351d2">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="skattemessigBosattILand" type="Tekst"/>
            <xsd:element minOccurs="0" name="opptjeningsland" type="Tekst"/>
            <xsd:element minOccurs="0" name="erOpptjentPaaHjelpefartoey" type="Boolsk"/>
            <xsd:element minOccurs="0" name="erOpptjentPaaKontinentalsokkel" type="Boolsk"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Tilleggsinformasjon" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/0a8af270-2419-11e7-8e60-0050568351d2">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="bilOgBaat" type="BilOgBaat"/>
                <xsd:element name="dagmammaIEgenBolig" type="DagmammaIEgenBolig"/>
                <xsd:element name="etterbetalingsperiode" type="Periode"/>
                <xsd:element name="inntektPaaNorskKontinentalsokkel" type="NorskKontinentalsokkel"/>
                <xsd:element name="inntjeningsforhold" type="Tekst"/>
                <xsd:element name="livrente" type="Livrente"/>
                <xsd:element name="lottOgPart" type="LottOgPartInnenFiske"/>
                <xsd:element name="nettoloenn" type="Nettoloennsordning"/>
                <xsd:element name="pensjon" type="AldersUfoereEtterlatteAvtalefestetOgKrigspensjon"/>
                <xsd:element name="reiseKostOgLosji" type="ReiseKostOgLosji"/>
                <xsd:element name="utenlandskArtist" type="UtenlandskArtist"/>
                <xsd:element name="bonusFraForsvaret" type="BonusFraForsvaret"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UtenlandskArtist" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb47d7-e484-11e6-9cb3-005056821322">
        <xsd:sequence>
            <xsd:element name="inntektsaar" type="Aarstall"/>
            <xsd:element name="oppgrossingsgrunnlag" type="Desimaltall"/>
            <xsd:element name="trukketArtistskatt" type="Heltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="YtelseFraOffentlige" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/dcfb47df-e484-11e6-9cb3-005056821322">
        <xsd:annotation>
            <xsd:documentation>utbetaling fra staten som skal sikre økonomisk trygghet ved å sikre inntekt og kompensere for særlige utgifter ved arbeidsløshet, svangerskap og fødsel, aleneomsorg for barn, sykdom og skade, uførhet, alderdom og dødsfall.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="beskrivelse" type="YtelseFraOffentligeBeskrivelse">
                <xsd:annotation>
                    <xsd:documentation>beskrivelse på hvilken kategori av ytelsesinntekt som en utbetaling tilhører</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="tilleggsinformasjon" type="Tilleggsinformasjon"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Loennsbeskrivelse" skatt:eksternKodeliste="https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/data_inntektsmottaker.html#loennsinntekt-beskrivelse">
        <xsd:annotation>
            <xsd:documentation>lønnsbeskrivelser</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="Naeringsinntektbeskrivelse" skatt:eksternKodeliste="https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/data_inntektsmottaker.html#naeringsinntekt-beskrivelse">
        <xsd:annotation>
            <xsd:documentation>typer næringsinntekt</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="PensjonEllerTrygdBeskrivelse" skatt:eksternKodeliste="https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/data_inntektsmottaker.html#pensjonellertrygd-beskrivelse">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="YtelseFraOffentligeBeskrivelse" skatt:eksternKodeliste="https://skatteetaten.github.io/datasamarbeid-api-dokumentasjon/data_inntektsmottaker.html#ytelsefraoffentlige-beskrivelse">
        <xsd:annotation>
            <xsd:documentation>beskrivelse på hvilken kategori av ytelsesinntekt som en utbetaling tilhører</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="Desimaltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aef-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>tall som er satt sammen av en heltallsdel og en fraksjondel [wikipedia] </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <xsd:simpleType name="Heltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af0-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>hele tall, dvs. hele tall i mengden {..., -2, -1, 0, 1, 2, ...}</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>
    <xsd:complexType name="Periode" skatt:begrepsreferanse="https://begrepskatalog/begrep/20b52b6d-9fe1-11e5-a9f8-e4115b280940">
        <xsd:sequence>
            <xsd:element name="startdato" type="Dato"/>
            <xsd:element name="sluttdato" type="Dato"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Tekst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett 
</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Boolsk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>angir verdien sann eller usann</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="Aarstall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e14a-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>årstall er et tall som angir årets nummer i tidsregningen i den gregorianske kalender</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:gYear"/>
    </xsd:simpleType>
    <xsd:simpleType name="Dato" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aed-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i  ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times). 
Eksempel : 1998-12-21 eller 19981221. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
</xsd:schema>
