download/skattegrunnlag.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:sg="urn:no:skatteetaten:datasamarbeid:skattegrunnlag:v1"
           targetNamespace="urn:no:skatteetaten:datasamarbeid:skattegrunnlag:v1">
    <xs:element name="skattegrunnlag" type="sg:skattegrunnlagType"/>
    <xs:complexType name="skattegrunnlagType">
        <xs:sequence>
            <xs:element type="xs:string" name="personidentifikator"/>
            <xs:element type="xs:string" name="inntektsaar"/>
            <xs:element type="xs:boolean" name="skjermet" minOccurs="0"/>
            <xs:element type="sg:grunnlagType" name="grunnlag" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="grunnlagType">
        <xs:sequence>
            <xs:element type="xs:string" name="felt"/>
            <xs:element name="kategori">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="inntekt"/>
                        <xs:enumeration value="formue"/>
                        <xs:enumeration value="formuesfradrag"/>
                        <xs:enumeration value="inntektsfradrag"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="beloep"/>
            <xs:element type="sg:spesifiseringType" name="spesifisering" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="spesifiseringType">
        <xs:sequence>
            <xs:element type="xs:integer" name="beloep"/>
            <xs:element type="xs:string" name="kildenavn" minOccurs="0"/>
            <xs:element type="xs:string" name="kildebeskrivelse" minOccurs="0"/>
            <xs:element type="xs:string" name="kommunenummer" minOccurs="0"/>
            <xs:element type="xs:string" name="gaardsnummer" minOccurs="0"/>
            <xs:element type="xs:string" name="bruksnummer" minOccurs="0"/>
            <xs:element type="xs:string" name="festenummer" minOccurs="0"/>
            <xs:element type="xs:string" name="seksjonsnummer" minOccurs="0"/>
            <xs:element type="xs:string" name="registreringsnummer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>