download/Skattemelding_2018.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:no:skatteetaten:datasamarbeid:skattemeldingutflatet:v1" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:no:skatteetaten:datasamarbeid:skattemeldingutflatet:v1">
    <xsd:annotation>
        <xsd:documentation>
            <xsd:attribute fixed="2020-03-20T13:58:09.519+0100" name="generertDato"/>
            <xsd:attribute fixed="0.22" name="versjon"/>
            <xsd:attribute fixed="" name="beskrivelse"/>
            <xsd:attribute fixed="SkattemeldingUtflatet2018" name="modellnavn"/>
            <xsd:attribute fixed="urn:no:skatteetaten:datasamarbeid:skattemeldingutflatet:v1" name="navnerom"/>
            <xsd:attribute fixed="true" name="begrepsreferanse"/>
            <xsd:attribute fixed="true" name="dokumentasjon"/>
            <xsd:attribute fixed="false" name="nillable"/>
            <xsd:attribute fixed="false" name="modellelement"/>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="skattemeldingUtflatet" type="SkattemeldingUtflatet"/>
    <xsd:complexType name="SkattemeldingUtflatet">
        <xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="arbeidsoppholdUtenforHjemmet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b574087c-d96a-11e6-8d9b-005056821322" type="ArbeidsoppholdUtenforHjemmet"/>
                <xsd:element name="arbeidsreise" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/8ea2df4f-7662-11e6-a74e-7e18b36b3fd9" type="Arbeidsreise"/>
                <xsd:element name="barnSomGirRettTilForeldrefradrag" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/cf247fc0-dfe5-11e7-9101-005056821322" type="BarnSomGirRettTilForeldrefradrag"/>
                <xsd:element name="besoeksreiseTilHjemmet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/8ea2df50-7662-11e6-a74e-7e18b36b3fd9" type="BesoeksreiseTilHjemmet"/>
                <xsd:element name="eiendomSomUtleieobjekt" type="EiendomSomUtleieobjekt"/>
                <xsd:element name="eiendom" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/fast%20eiendom" type="Eiendom"/>
                <xsd:element name="fagforeningskontingent" skatt:begrepsreferanse="http://data.skatteetaten.no/begrep/b5740898-d96a-11e6-8d9b-005056821322" type="Fagforeningskontingent"/>
                <xsd:element name="fritidsbaatMedSalgsverdiOverSalgsverdigrense" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b57408b7-d96a-11e6-8d9b-005056821322" type="FritidsbaatMedSalgsverdiOverSalgsverdigrense"/>
                <xsd:element name="gaveTilFrivilligOrganisasjon" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52b0f-9fe1-11e5-a9f8-e4115b280940" type="GaveTilFrivilligOrganisasjon"/>
                <xsd:element name="individuellPensjonsordning" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1c9-9fe1-11e5-a9f8-e4115b280940" type="IndividuellPensjonsordning"/>
                <xsd:element name="kjoeretoey" skatt:begrepsreferanse="http://begrepskatalog/begrep/a0905c2b-dc5e-11e5-8127-d6d6eb145c82" type="Kjoeretoey"/>
                <xsd:element name="kollektivPensjonsordning" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/cf247ffa-dfe5-11e7-9101-005056821322" type="KollektivPensjonsordning"/>
                <xsd:element name="kontantbeloep" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e333098-6837-11e6-a7ce-fac03dffe1d7" type="Kontantbeloep"/>
                <xsd:element name="konto" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e326-9fe1-11e5-a9f8-e4115b280940" type="Konto"/>
                <xsd:element name="livsforsikring" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/livsforsikring" type="Livsforsikring"/>
                <xsd:element name="loennOgTilsvarendeYtelser" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/cf247feb-dfe5-11e7-9101-005056821322" type="LoennOgTilsvarendeYtelser"/>
                <xsd:element name="oppholdskostnaderVedPassOgStellAvBarn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52ae7-9fe1-11e5-a9f8-e4115b280940" type="OppholdskostnaderVedPassOgStellAvBarn"/>
                <xsd:element name="pensjonspremierIArbeidsforhold" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/2b2920ad-e7e6-11e8-b7e4-005056821322" type="PensjonspremierIArbeidsforhold"/>
                <xsd:element name="privatFordringUtenforVirksomhet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/cf248000-dfe5-11e7-9101-005056821322" type="PrivatFordringUtenforVirksomhet"/>
                <xsd:element name="privatGjeldsforholdUtenforVirksomhet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/cf248002-dfe5-11e7-9101-005056821322" type="PrivatGjeldsforholdUtenforVirksomhet"/>
                <xsd:element name="skattefriArvGaveOgGevinst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/46f4d76b-4c6c-11e8-bb3e-005056821322" type="SkattefriArvGaveOgGevinst"/>
                <xsd:element name="skattefriStoenadTilBarnetilsyn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/cf24800d-dfe5-11e7-9101-005056821322" type="SkattefriStoenadTilBarnetilsyn"/>
                <xsd:element name="skattepliktigKundeutbytteUtenforVirksomhetPerUtbetaler" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/03c54f2e-1f09-11e9-9d36-005056821322" type="SkattepliktigKundeutbytteUtenforVirksomhetPerUtbetaler"/>
                <xsd:element name="skyldigRestskatt" skatt:begrepsreferanse="http://data.skatteetaten.no/begrep/cf248012-dfe5-11e7-9101-005056821322" type="SkyldigRestskatt"/>
                <xsd:element name="verdiForAnnetPrivatInnboOgLoesoere" type="VerdiForAnnetPrivatInnboOgLoesoere"/>
                <xsd:element name="oekonomiskeForholdKnyttetTilBoligsameieEllerBoligselskap" type="OekonomiskeForholdKnyttetTilBoligsameieEllerBoligselskap"/>
            </xsd:choice>
            <xsd:element minOccurs="0" name="personidentifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/98da4325-dff2-11e7-a0fd-005056821322" type="Foedselsnummer"/>
            <xsd:element minOccurs="0" name="skjermet" type="Boolsk"/>
            <xsd:element minOccurs="0" name="registreringstidspunkt" type="DatoKlokkeslett"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Spesifisering">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="skattegrunnlagTekniskNavn" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>Feltet er lagt til for å hjelpe til med debugging når data kommer fra SL.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArbeidTrygdOgPensjon" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf247fb7-dfe5-11e7-9101-005056821322">
    </xsd:complexType>
    <xsd:complexType name="Fradrag">
    </xsd:complexType>
    <xsd:complexType name="ReiseIArbeidsforhold" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/8ea2df51-7662-11e6-a74e-7e18b36b3fd9">
    </xsd:complexType>
    <xsd:complexType name="ArbeidsoppholdUtenforHjemmet" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b574087c-d96a-11e6-8d9b-005056821322">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="arbeidsgiversOrganisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>
                    <xsd:element minOccurs="0" name="merkostnadForKostVedArbeidsoppholdUtenforHjemmet" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b57408db-d96a-11e6-8d9b-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="merkostnadForLosjiVedArbeidsoppholdUtenforHjemmet" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b57408dc-d96a-11e6-8d9b-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="godtgjoerelseForLosjiVedArbeidsoppholdUtenforHjemmet" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="godtgjoerelseForKostVedArbeidsoppholdUtenforHjemmet" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="typeGodtgjoerelse" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/46f4d781-4c6c-11e8-bb3e-005056821322"/>
                    <xsd:element minOccurs="0" name="losjitype" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b57408d9-d96a-11e6-8d9b-005056821322" type="Losjitype"/>
                    <xsd:element minOccurs="0" name="typeMerkostnadForKostVedArbeidsoppholdUtenforHjemmet" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/2b2920b5-e7e6-11e8-b7e4-005056821322" type="TypeMerkostnadForKostVedArbeidsoppholdUtenforHjemmet"/>
                    <xsd:element minOccurs="0" name="beregnetMerkostnadForKostEtterStandardsats" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b5740885-d96a-11e6-8d9b-005056821322" type="Boolsk"/>
                    <xsd:element minOccurs="0" name="antallDager" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b5740874-d96a-11e6-8d9b-005056821322" type="Heltall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Arbeidsreise" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/8ea2df4f-7662-11e6-a74e-7e18b36b3fd9">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="bompengeEllerFergeutgifterUnderArbeidsreise" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf247fc8-dfe5-11e7-9101-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="lengdeAvArbeidsreiseTurRetur" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf247fe6-dfe5-11e7-9101-005056821322" type="Antall"/>
                    <xsd:element minOccurs="0" name="antallDagerMedArbeidsreise" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b5740875-d96a-11e6-8d9b-005056821322" type="Antall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PassOgStellAvBarn">
    </xsd:complexType>
    <xsd:complexType name="BarnSomGirRettTilForeldrefradrag" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf247fc0-dfe5-11e7-9101-005056821322">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="navn" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e243-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="personidentifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/88804c46-ff43-11e6-9d97-005056825ca0" type="Foedselsnummer"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BesoeksreiseTilHjemmet" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/8ea2df50-7662-11e6-a74e-7e18b36b3fd9">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="flybilletterForBesoeksreiseTilHjemmet" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/2b29206c-e7e6-11e8-b7e4-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="bompengeEllerFergeutgifterUnderBesoeksreiseTilHjemmet" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf247fc9-dfe5-11e7-9101-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="lengdeAvBesoeksreiseTurRetur" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf247fe7-dfe5-11e7-9101-005056821322" type="Antall"/>
                    <xsd:element minOccurs="0" name="antallBesoeksreiserTilHjemmet" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b5740873-d96a-11e6-8d9b-005056821322" type="Antall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EiendelerOgFasteEiendommer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/03c54f24-1f09-11e9-9d36-005056821322">
    </xsd:complexType>
    <xsd:complexType name="EiendomSomUtleieobjekt">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="bruksnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e102-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="gaardsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e10f-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="kommunenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e0f3-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="festenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e10a-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="seksjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e124-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="navn" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e243-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>
                    <xsd:element minOccurs="0" name="eierandel" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e17f-9fe1-11e5-a9f8-e4115b280940" type="Prosent"/>
                    <xsd:element minOccurs="0" name="eiendomstype" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/9c33fd09-2964-11e6-b2bc-96405985e0fa" type="Tekst">
                        <xsd:annotation>
                            <xsd:documentation>https://git.aurora.skead.no/projects/KOLI/repos/kodeliste/browse/formuesOgInntektsskatt/2018_eiendomstype.xml</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="land" type="Landkode"/>
                    <xsd:element minOccurs="0" name="bruttoLeieinntektVedSjablongbehandletUtleie" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="bruttoLeieinntektVedRegnskapsbehandletUtleie" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="festeavgiftVedUtleie" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="vedlikeholdskostnadVedUtleie" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="annenKostnadVedUtleie" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/c2c49943-4582-11e9-9dac-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="husleieFelleskostnadVedUtleie" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="benytterEiendommenSelvSomFritidseiendom" type="Boolsk"/>
                    <xsd:element minOccurs="0" name="andelsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e178-9fe1-11e5-a9f8-e4115b280940" type="Heltall"/>
                    <xsd:element minOccurs="0" name="aksjeboenhetsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e175-9fe1-11e5-a9f8-e4115b280940" type="Heltall"/>
                    <xsd:element minOccurs="0" name="gateadresse" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e12d-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="bruksenhetsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e101-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="husnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e111-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="husbokstav" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e110-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="SERGEiendomsidentifikator" type="Tekst"/>
                    <xsd:element minOccurs="0" name="utleietype" type="Utleietype"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Eiendom" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/9c33fd0b-2964-11e6-b2bc-96405985e0fa">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="bruksnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e102-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="gaardsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e10f-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="kommunenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e0f3-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="festenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e10a-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="seksjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e124-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="navn" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e243-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>
                    <xsd:element minOccurs="0" name="formuesverdi" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="beregnetMarkedsverdiForBolig" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="eierandel" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e17f-9fe1-11e5-a9f8-e4115b280940" type="Prosent"/>
                    <xsd:element minOccurs="0" name="beloep" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="boligbruk" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/9c33fcfa-2964-11e6-b2bc-96405985e0fa" type="Tekst"/>
                    <xsd:element minOccurs="0" name="eiendomstype" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/9c33fd09-2964-11e6-b2bc-96405985e0fa" type="Tekst">
                        <xsd:annotation>
                            <xsd:documentation>https://git.aurora.skead.no/projects/KOLI/repos/kodeliste/browse/formuesOgInntektsskatt/2018_eiendomstype.xml</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="land" type="Landkode"/>
                    <xsd:element minOccurs="0" name="benytterEiendommenSelvSomFritidseiendom" type="Boolsk"/>
                    <xsd:element minOccurs="0" name="dokumentertMarkedsverdiForBolig" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="boligtype" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/9c33fcfc-2964-11e6-b2bc-96405985e0fa" type="Boligtypekode"/>
                    <xsd:element minOccurs="0" name="boligensAreal" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/9c33fcfb-2964-11e6-b2bc-96405985e0fa" type="Heltall"/>
                    <xsd:element minOccurs="0" name="byggeaar" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/9c33fd02-2964-11e6-b2bc-96405985e0fa" type="Aarstall"/>
                    <xsd:element minOccurs="0" name="andelsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e178-9fe1-11e5-a9f8-e4115b280940" type="Heltall"/>
                    <xsd:element minOccurs="0" name="aksjeboenhetsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e175-9fe1-11e5-a9f8-e4115b280940" type="Heltall"/>
                    <xsd:element minOccurs="0" name="gateadresse" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e12d-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="bruksenhetsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e101-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="husnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e111-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="husbokstav" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e110-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="bydelsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/9c33fd01-2964-11e6-b2bc-96405985e0fa" type="Tekst"/>
                    <xsd:element minOccurs="0" name="beliggenhetskode" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/108097c3-25fc-11e9-85c0-005056821322" type="Tekst"/>
                    <xsd:element minOccurs="0" name="SERGEiendomsidentifikator" type="Tekst"/>
                    <xsd:element minOccurs="0" name="kommunenummerVedUtgangenAvSkattleggingsperioden" type="Tekst"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Fagforeningskontingent" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b5740898-d96a-11e6-8d9b-005056821322">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="samletBetaltFagforeningskontingentPrAar" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/2b2920b2-e7e6-11e8-b7e4-005056821322" type="BeloepSomHeltall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FritidsbaatMedSalgsverdiOverSalgsverdigrense" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b57408b7-d96a-11e6-8d9b-005056821322">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="baatmerke" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b574088f-d96a-11e6-8d9b-005056821322" type="Tekst"/>
                    <xsd:element minOccurs="0" name="antattSalgsverdi" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b5740879-d96a-11e6-8d9b-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="forsikringssum" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/03c54f26-1f09-11e9-9d36-005056821322" type="BeloepSomHeltall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DiverseFradrag" skatt:begrepsreferanse="">
    </xsd:complexType>
    <xsd:complexType name="GaveTilFrivilligOrganisasjon" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b52b0f-9fe1-11e5-a9f8-e4115b280940">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="navnGodkjentGavemottaker" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e243-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="organisasjonsnummerGodkjentGavemottaker" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e226-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>
                    <xsd:element minOccurs="0" name="beloep" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e146-9fe1-11e5-a9f8-e4115b280940" type="BeloepSomHeltall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IndividuellPensjonsordning" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1c9-9fe1-11e5-a9f8-e4115b280940">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="pensjonsordningstype" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/2b29208a-e7e6-11e8-b7e4-005056821322" type="IndividuellPensjonsordningstype"/>
                    <xsd:element minOccurs="0" name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1d2-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>
                    <xsd:element minOccurs="0" name="navn" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1d2-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="innbetalingTilIndividuellPensjonsordningPerSkattleggingsperiode" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/2b29208b-e7e6-11e8-b7e4-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="utbetalingFraIndividuellPensjonsordningPerSkattleggingsperiode" skatt:begrepsreferanse="http://data.skatteetaten.no/begreper/76732228-497c-11e9-b1c5-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="returAvPremie" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/1e3330ac-6837-11e6-a7ce-fac03dffe1d7" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="premieFond" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/1e3330a1-6837-11e6-a7ce-fac03dffe1d7" type="BeloepSomHeltall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Kjoeretoey">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="registreringsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/32890370-e04a-11e5-ab11-0050568351d2" type="Tekst"/>
                    <xsd:element minOccurs="0" name="fabrikatnavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/2b29206a-e7e6-11e8-b7e4-005056821322" type="Tekst"/>
                    <xsd:element minOccurs="0" name="aarForFoerstegangsregistrering" type="Aarstall"/>
                    <xsd:element minOccurs="0" name="formuesverdi" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/6c325cdd-ff95-11e8-a756-005056823b15" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="antattVerdiSomNytt" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="antattMarkedsverdi" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="beloep" type="BeloepSomHeltall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="KollektivPensjonsordning" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf247ffa-dfe5-11e7-9101-005056821322">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="pensjonsutbetalersNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e20b-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e20b-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer">
                        <xsd:annotation>
                            <xsd:documentation>Pensjonsutbetalers organisasjonsnummer</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="pensjonstype" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf247ffc-dfe5-11e7-9101-005056821322" type="Tekst"/>
                    <xsd:element minOccurs="0" name="pensjonsinntektPerSkattleggingsperiode" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/2b2920ac-e7e6-11e8-b7e4-005056821322" type="BeloepSomHeltall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Kontantbeloep" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/1e333098-6837-11e6-a7ce-fac03dffe1d7">
                <xsd:sequence>
                    <xsd:element name="beloep" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/1e333098-6837-11e6-a7ce-fac03dffe1d7" type="BeloepSomHeltall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BankLaanOgForsikring" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf247fbd-dfe5-11e7-9101-005056821322">
    </xsd:complexType>
    <xsd:complexType name="Konto" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e326-9fe1-11e5-a9f8-e4115b280940">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="kontonummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e328-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>
                    <xsd:element minOccurs="0" name="bankensNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/8ea2df23-7662-11e6-a74e-7e18b36b3fd9" type="Tekst"/>
                    <xsd:element minOccurs="0" name="innskudd" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e324-9fe1-11e5-a9f8-e4115b280940" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="opptjenteRenter" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1af-9fe1-11e5-a9f8-e4115b280940" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="gjeld" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="paaloepteRenter" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1b0-9fe1-11e5-a9f8-e4115b280940" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="tilbakefoerteRenter" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/1e3330c5-6837-11e6-a7ce-fac03dffe1d7" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="betalteMisligholdteRenter" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1ab-9fe1-11e5-a9f8-e4115b280940" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="land" type="Landkode"/>
                    <xsd:element minOccurs="0" name="overfoertFraBarn" type="Boolsk"/>
                    <xsd:element minOccurs="0" name="forsoergelsesprosent" type="Prosent"/>
                    <xsd:element minOccurs="0" name="sparebeloepTilBoligsparingForUngdomOppspartISkattleggingsperioden" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/03c54f32-1f09-11e9-9d36-005056821322" type="BeloepSomHeltall">
                        <xsd:annotation>
                            <xsd:documentation>Benyttes for BSU i utlandet</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Livsforsikring" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1ce-9fe1-11e5-a9f8-e4115b280940">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="livsforsikringsselskapetsNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e243-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>
                    <xsd:element minOccurs="0" name="forsikringsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1bd-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="fradragsberettigetTapPaaLivsforsikring" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b57408b4-d96a-11e6-8d9b-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="inntektFraLivsforsikring" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/46f4d743-4c6c-11e8-bb3e-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="typeInntektFraLivsforsikring" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/46f4d782-4c6c-11e8-bb3e-005056821322" type="TypeInntektFraLivsforsikring"/>
                    <xsd:element minOccurs="0" name="formueAvLivsforsikring" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/2b292071-e7e6-11e8-b7e4-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="typeFormueAvLivsforsikring" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/46f4d77f-4c6c-11e8-bb3e-005056821322" type="TypeFormueAvLivsforsikring"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LoennOgTilsvarendeYtelser" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf247feb-dfe5-11e7-9101-005056821322">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="arbeidsgiversNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e243-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>
                    <xsd:element minOccurs="0" name="beloep" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/03c54f2b-1f09-11e9-9d36-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="behandlingsart" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/8ea2df25-7662-11e6-a74e-7e18b36b3fd9" type="Tekst"/>
                    <xsd:element minOccurs="0" name="overfoertFraBarn" type="Boolsk">
                        <xsd:annotation>
                            <xsd:documentation>overfoeringFraBarnTilForeldre.overfoertFraBarn.norskPersonidentifikator.norskPersonidentifikator har verdi=&gt;verdi settes til true
</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OppholdskostnaderVedPassOgStellAvBarn" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b52ae7-9fe1-11e5-a9f8-e4115b280940">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="betaltBeloep" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="navnBarnepassvirksomhet" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e243-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PensjonspremierIArbeidsforhold" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b57408af-d96a-11e6-8d9b-005056821322">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="allPensjonsinnbetalingTilPensjonsordningIArbeidsforholdPerSkattleggingsperiode" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/46f4d6f3-4c6c-11e8-bb3e-005056821322" type="BeloepSomHeltall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PrivatFordringUtenforVirksomhet" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf247ffd-dfe5-11e7-9101-005056821322">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="opptjenteRenter" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf247ff2-dfe5-11e7-9101-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="formuesverdiAvPrivatFordringUtenforVirksomhet" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/46f4d727-4c6c-11e8-bb3e-005056821322" type="BeloepSomHeltall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PrivatGjeldsforholdUtenforVirksomhet" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b5740870-d96a-11e6-8d9b-005056821322">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="fordringshaver" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b574089c-d96a-11e6-8d9b-005056821322" type="Tekst"/>
                    <xsd:element minOccurs="0" name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>
                    <xsd:element minOccurs="0" name="gjeld" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/2b2920ae-e7e6-11e8-b7e4-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="paaloepteRenter" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/6c325d1c-ff95-11e8-a756-005056823b15" type="BeloepSomHeltall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkattefriArvGaveOgGevinst" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/46f4d76b-4c6c-11e8-bb3e-005056821322">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="skattefriGevinstFraSpillEllerTiltakArrangertAvMassemedia" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf24800c-dfe5-11e7-9101-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="samletVerdiArvEllerGaveUtenforArbeidsforhold" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/46f4d765-4c6c-11e8-bb3e-005056821322" type="BeloepSomHeltall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkattefriStoenadTilBarnetilsyn" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf24800d-dfe5-11e7-9101-005056821322">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="beloep" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf24800d-dfe5-11e7-9101-005056821322" type="BeloepSomHeltall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkattepliktigKundeutbytteUtenforVirksomhetPerUtbetaler" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/03c54f2e-1f09-11e9-9d36-005056821322">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="utbetaltBeloep" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="navn" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/03c54f34-1f09-11e9-9d36-005056821322" type="Tekst"/>
                    <xsd:element minOccurs="0" name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/03c54f34-1f09-11e9-9d36-005056821322" type="Organisasjonsnummer"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkyldigRestskatt" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf248012-dfe5-11e7-9101-005056821322">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="betalteForsinkelsesrenterForSamletSkyldigRestskatt" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/cf247fc4-dfe5-11e7-9101-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="samletSkyldigRestskatt" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/2b2920b4-e7e6-11e8-b7e4-005056821322" type="BeloepSomHeltall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VerdiForAnnetPrivatInnboOgLoesoere">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="beloep" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="andelAvFribeloep" type="Prosent"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OekonomiskeForholdKnyttetTilBoligsameieEllerBoligselskap">
        <xsd:annotation>
            <xsd:documentation>Dette er en sammenslått subsett av begrepene for å

AndelAvInntekterFelleskostnaderFormueOgGjeldIBoligsameie

Og AndelAvInntekterFelleskostnaderFormueOgGjeldIBoligselskap</xsd:documentation>
        </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="andelAvFellesgjeldIBoligsameie" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/b5740865-d96a-11e6-8d9b-005056821322" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="andelAvAnnenFormueIBoligsameie" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/9c33fce4-2964-11e6-b2bc-96405985e0fa" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="andelAvFellesgjeldIBoligselskap" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/9c33fce6-2964-11e6-b2bc-96405985e0fa" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="andelAvAnnenFormueIBoligselskap" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/9c33fce5-2964-11e6-b2bc-96405985e0fa" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="navn" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e243-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
                    <xsd:element minOccurs="0" name="eierandel" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/2b292065-e7e6-11e8-b7e4-005056821322" type="Prosent"/>
                    <xsd:element minOccurs="0" name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>
                    <xsd:element minOccurs="0" name="andelAvInntektIBoligselskap" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/9c33fcea-2964-11e6-b2bc-96405985e0fa" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="andelAvInntektIBoligsameie" skatt:begrepsreferanse="https://data.skatteetaten.no/begreper/9c33fce9-2964-11e6-b2bc-96405985e0fa" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="andelAvAndreFradragsberettigedeKostnaderIBoligselskap" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="andelAvAndreFradragsberettigedeKostnaderIBoligsameie" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="andelAvFradragsberettigedeRenterIBoligselskap" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="andelAvFradragsberettigedeRenterIBoligsameie" type="BeloepSomHeltall"/>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Tekst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett 
</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Foedselsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5138da10-be20-11e6-8004-005056825ca0">
        <xsd:annotation>
            <xsd:documentation>ellevesifret identifikasjonsnummer for personer bosatt i Norge, der de seks første sifrene angir fødselsdato og de fem siste personnummer.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:pattern value="[0-9]+"/>
            <xsd:length value="11"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Boolsk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>angir verdien sann eller usann</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="DatoKlokkeslett" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aee-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times). </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>
    <xsd:simpleType name="Organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>9 sifret nummer gitt de som er registrert i Enhetsregisteret. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:pattern value="[0-9]+"/>
            <xsd:length value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Heltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af0-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>hele tall, dvs. hele tall i mengden {..., -2, -1, 0, 1, 2, ...}</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>
    <xsd:simpleType name="BeloepSomHeltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>en sum av penger i hele kroner brukt i en kontekst. Dette kan være en transaksjon, saldo o.l. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Heltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Losjitype" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b57408d9-d96a-11e6-8d9b-005056821322">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="arbeidsgiversBrakkeCampingvogn"/>
            <xsd:enumeration value="losji"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TypeMerkostnadForKostVedArbeidsoppholdUtenforHjemmet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/2b2920b5-e7e6-11e8-b7e4-005056821322">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="hotellMedFrokost"/>
            <xsd:enumeration value="hotellUtenFrokost"/>
            <xsd:enumeration value="hybelUtenKokemuligheter"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Antall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e145-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>mengde som utgjør eller kan uttrykkes i et visst tall </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Heltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Desimaltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aef-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>tall som er satt sammen av en heltallsdel og en fraksjondel [wikipedia] </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <xsd:simpleType name="Prosent" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5d2b8b80-b7e8-11e7-aa27-0050568351d2">
        <xsd:annotation>
            <xsd:documentation> Prosent betyr hundredel eller per hundre, og representeres ofte av et tall etterfulgt av tegnet '%'. Prosent er altså en hundredel av en  gitt mengde. Eksempelvis vil en prosent av 1000 være 10. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Desimaltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Landkode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>koder for land etter ISO 3166-1 Alpha-2 </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:pattern value="([A-Z]){2}"/>
            <xsd:length value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Utleietype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="sjablongbehandletUtleie"/>
            <xsd:enumeration value="regnskapsbehandletUtleie"/>
            <xsd:enumeration value="sjablongOgRegnskapsbehandletUtleie"/>
            <xsd:enumeration value="sjablongbehandletUtleieIUtlandet"/>
            <xsd:enumeration value="regnskapsbehandletUtleieIUtlandet"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Boligtypekode">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd0a-2964-11e6-b2bc-96405985e0fa" value="enebolig"/>
            <xsd:enumeration skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd55-2964-11e6-b2bc-96405985e0fa" value="smaahus"/>
            <xsd:enumeration value="leilighet"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Aarstall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e14a-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>årstall er et tall som angir årets nummer i tidsregningen i den gregorianske kalender</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:gYear"/>
    </xsd:simpleType>
    <xsd:simpleType name="IndividuellPensjonsordningstype" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/2b29208a-e7e6-11e8-b7e4-005056821322">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="individuellPensjonsavtale"/>
            <xsd:enumeration skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/46f4d769-4c6c-11e8-bb3e-005056821322" value="skattefavorisertIndividuellSparingTilPensjon"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TypeInntektFraLivsforsikring" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/46f4d782-4c6c-11e8-bb3e-005056821322">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/46f4d772-4c6c-11e8-bb3e-005056821322" value="SkattepliktigEngangsutbetalingFraLivrente"/>
            <xsd:enumeration skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/46f4d774-4c6c-11e8-bb3e-005056821322" value="SkattepliktigTerminutbetalingFraLivrente"/>
            <xsd:enumeration skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/2b2920bc-e7e6-11e8-b7e4-005056821322" value="SkattepliktigEngangsutbetalingFraUfoererente"/>
            <xsd:enumeration skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e3330a7-6837-11e6-a7ce-fac03dffe1d7" value="RenteinntektAvLivsforsikring"/>
            <xsd:enumeration skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/46f4d775-4c6c-11e8-bb3e-005056821322" value="SkattepliktigUtbetalingFraKapitalforsikringUtenGarantertAvkastning"/>
            <xsd:enumeration value="AvkastningAvKapitalforsikringsavtale"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TypeFormueAvLivsforsikring" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/46f4d77f-4c6c-11e8-bb3e-005056821322">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Premiefond"/>
            <xsd:enumeration value="GjenkjoepsverdiAvKapitalforsikringsavtale"/>
            <xsd:enumeration value="GjenkjoepsverdiAvIndividuellLivrente"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
