download/SpesifisertSummertSkattegrunnlag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:no:skatteetaten:datasamarbeid:spesifisertsummertskattegrunnlag:v1" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:no:skatteetaten:datasamarbeid:spesifisertsummertskattegrunnlag:v1">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute fixed="2022-02-28T15:10:50.914+0100" name="generertDato"/>
      <xsd:attribute fixed="1.50" name="versjon"/>
      <xsd:attribute fixed="" name="beskrivelse"/>
      <xsd:attribute fixed="SpesifisertSummertSkattegrunnlag" name="modellnavn"/>
      <xsd:attribute fixed="urn:no:skatteetaten:datasamarbeid:spesifisertsummertskattegrunnlag:v1" name="navnerom"/>
      <xsd:attribute fixed="true" name="begrepsreferanse"/>
      <xsd:attribute fixed="true" name="dokumentasjon"/>
      <xsd:attribute fixed="false" name="nillable"/>
      <xsd:attribute fixed="false" name="modellelement"/>
      <xsd:attribute fixed="false" name="norskeTegn"/>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="spesifisertSummertSkattegrunnlag" type="SpesifisertSummertSkattegrunnlag"/>
  <xsd:complexType name="SpesifisertSummertSkattegrunnlag">
    <xsd:annotation>
      <xsd:documentation>SpesifiserSummertSkattegrunnlag inneholder skattegrunnlag med spesifisering av disse.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="personidentifikator" type="Foedselsnummer"/>
      <xsd:element name="inntektsaar" type="Aarstall"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="grunnlag" type="SummertSkattegrunnlagsobjekt"/>
      <xsd:element name="skjermet" type="Boolsk"/>
      <xsd:element minOccurs="0" name="skatteoppgjoersdato" type="Dato"/>
      <xsd:element minOccurs="0" name="skjoennsfastsatt" type="Boolsk"/>
      <xsd:element minOccurs="0" name="svalbardSkjoennsfastsatt" type="Boolsk"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="svalbardGrunnlag" type="SummertSkattegrunnlagsobjekt"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kildeskattPaaLoennGrunnlag" type="SummertSkattegrunnlagsobjekt"/>
      <xsd:element minOccurs="0" name="stadie" type="Tekst"/>
      <xsd:element minOccurs="0" name="registreringstidpunkt" type="DatoKlokkeslett"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AksjeIAksjonaerregisteret" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ece785b4-fd92-11ea-b057-0050568214e4">
    <xsd:complexContent>
      <xsd:extension base="Finans">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="organisasjonsnavn" type="Tekst"/>
          <xsd:element minOccurs="0" name="organisasjonsnummer" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="aksjeklasse" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e333067-6837-11e6-a7ce-fac03dffe1d7" type="Tekst"/>
          <xsd:element minOccurs="0" name="isinnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e325-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="antallAksjer" type="Antall"/>
          <xsd:element minOccurs="0" name="skattepliktigUtbytte" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6c325d67-ff95-11e8-a756-005056823b15" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="skattepliktigGevinstVedRealisasjonAvAksje" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e3330b4-6837-11e6-a7ce-fac03dffe1d7" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForAksje" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6c325d81-ff95-11e8-a756-005056823b15" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AksjeIkkeIAksjonaerregisteret" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ece785b3-fd92-11ea-b057-0050568214e4">
    <xsd:complexContent>
      <xsd:extension base="Finans">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="kontofoerersNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c97eae0-0fae-11eb-8086-0050568351d2" type="Tekst"/>
          <xsd:element minOccurs="0" name="kontonummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e328-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="organisasjonsnavn" type="Tekst"/>
          <xsd:element minOccurs="0" name="organisasjonsnummer" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="antallAksjer" type="Desimaltall"/>
          <xsd:element minOccurs="0" name="skattepliktigUtbytte" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6c325d66-ff95-11e8-a756-005056823b15" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="skattepliktigGevinstVedRealisasjonAvAksje" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e3330b4-6837-11e6-a7ce-fac03dffe1d7" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="land" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940" type="Landkode"/>
          <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForAksje" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6c325d80-ff95-11e8-a756-005056823b15" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Aksjesparekonto" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/48c47290-eda9-11e8-a3eb-0050568351d2">
    <xsd:complexContent>
      <xsd:extension base="Finans">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="finansinstitusjonNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a7-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnavn"/>
          <xsd:element minOccurs="0" name="finansinstitusjonOrganisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a7-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="kontonummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e328-9fe1-11e5-a9f8-e4115b280940" type="Kontonummer"/>
          <xsd:element minOccurs="0" name="skattepliktigGevinstVedRealisasjon" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6c325ce6-ff95-11e8-a756-005056823b15" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="land" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dcfb4786-e484-11e6-9cb3-005056821322" type="Landkode"/>
          <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForAksjedel" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6c325d82-ff95-11e8-a756-005056823b15" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="formuesverdiForKontanter" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6c325cde-ff95-11e8-a756-005056823b15" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AndreBeloepKnyttetTilBoligOgEiendeler">
    <xsd:complexContent>
      <xsd:extension base="EiendelerOgFasteEiendommer">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="formuesverdiForAnnenFormue" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6c325d32-ff95-11e8-a756-005056823b15" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="beskrivelseForAnnenFormue" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/fd8fb470-6732-11e9-ad12-0050568351d2" type="Tekst"/>
          <xsd:element minOccurs="0" name="nettoLeieinntektOverfoertFraEktefelle" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="kontantbeloep" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e333098-6837-11e6-a7ce-fac03dffe1d7" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="formuesverdiForInnboLoesoereOgFritidsbaatUnderSalgsverdigrense" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="kommunenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f3-9fe1-11e5-a9f8-e4115b280940" type="Kommunenummer"/>
          <xsd:element minOccurs="0" name="land" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940" type="Landkode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AnnenKapitalkostnad">
    <xsd:complexContent>
      <xsd:extension base="BankLaanOgForsikring">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="paaloepteRenterFraInkassoselskap" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AnnetFinansprodukt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/8ea2df1c-7662-11e6-a74e-7e18b36b3fd9">
    <xsd:complexContent>
      <xsd:extension base="Finans">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="finansproduktetsNavn" type="Tekst"/>
          <xsd:element minOccurs="0" name="kontofoerersNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c97eae0-0fae-11eb-8086-0050568351d2" type="Tekst"/>
          <xsd:element minOccurs="0" name="kontonummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e328-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="finansprodukttype" type="Tekst"/>
          <xsd:element minOccurs="0" name="antallAndreFinansprodukter" type="Antall"/>
          <xsd:element minOccurs="0" name="gjeldPaaAnnetFinansprodukt" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="land" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940" type="Landkode"/>
          <xsd:element minOccurs="0" name="formuesverdiForAnnetFinansprodukt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b574089e-d96a-11e6-8d9b-005056821322" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="ArbeidTrygdOgPensjon" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/cf247fb7-dfe5-11e7-9101-005056821322">
    <xsd:complexContent>
      <xsd:extension base="Spesifisering"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BankLaanOgForsikring" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/cf247fbd-dfe5-11e7-9101-005056821322">
    <xsd:complexContent>
      <xsd:extension base="Spesifisering"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DeltakersAndelAvFormueOgInntekt">
    <xsd:complexContent>
      <xsd:extension base="FormueOgInntektISelskapMedDeltakerfastsetting">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="selskapetsNavn" type="Organisasjonsnavn"/>
          <xsd:element minOccurs="0" name="selskapetsOrganisasjonsnummer" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="gjeld" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="naeringstype" type="Tekst"/>
          <xsd:element minOccurs="0" name="alminneligInntekt" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="underskudd" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="EiendelerOgFasteEiendommer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/03c54f24-1f09-11e9-9d36-005056821322">
    <xsd:complexContent>
      <xsd:extension base="Spesifisering"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Eiendom" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd0b-2964-11e6-b2bc-96405985e0fa">
    <xsd:complexContent>
      <xsd:extension base="EiendelerOgFasteEiendommer">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="beloep" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="bruksnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e102-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="gaardsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e10f-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="kommunenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f3-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="festenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e10a-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="seksjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e124-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="navn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d3298-98ef-11ea-8a84-005056828ed3" type="Tekst">
            <xsd:annotation>
              <xsd:documentation>Eiendommens, boligsameiets eller boligselskapets navn</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer">
            <xsd:annotation>
              <xsd:documentation>Boligselskapets eller boligsameiets organisasjonsnummer</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="formuesverdi" type="BeloepSomHeltall">
            <xsd:annotation>
              <xsd:documentation>Formuesverdi gjelder hele eiendommen og ikke kun den skattepliktige sin andel.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="beregnetMarkedsverdiForBolig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d3295-98ef-11ea-8a84-005056828ed3" type="BeloepSomHeltall">
            <xsd:annotation>
              <xsd:documentation>Gyldig begrep ikke definert
                Estimert markedsverdi på et gitt tidspunkt for boligeiendom basert på dokumentert markedsverdi for bolig, justert markedsverdi for boligeiendom eller boligverdi for boligeiendom. Gjelder her eiendomstypene selveid bolig, boenhet i boligselskap og flerboligbygning.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="eierandel" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e17f-9fe1-11e5-a9f8-e4115b280940" type="Prosent"/>
          <xsd:element minOccurs="0" name="andelAvFormuesverdi" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ece785b5-fd92-11ea-b057-0050568214e4" type="Prosent"/>
          <xsd:element minOccurs="0" name="land" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940" type="Landkode"/>
          <xsd:element minOccurs="0" name="boligverdiForUseksjonertBoenhet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/28455522-e51f-f94a-8c69-21c455f69e78" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="poststedsnavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e123-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="postnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e121-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="gateadresse" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f9-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="husnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e111-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="husbokstav" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e110-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="boligselskapetsEllerBoligsameietsNavn" type="Tekst"/>
          <xsd:element minOccurs="0" name="aksjeboenhetsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e175-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="andelsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e178-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="gevinstVedRealisasjonAvFastEiendom" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd51-2964-11e6-b2bc-96405985e0fa" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="tapVedRealisasjonAvFastEiendom" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/cf248020-dfe5-11e7-9101-005056821322" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="utleietype" type="Tekst"/>
          <xsd:element minOccurs="0" name="nettoLeieinntektForAndel" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="eiendommenHarFlereAdresser" type="Boolsk"/>
          <xsd:element minOccurs="0" name="formuesverdiForFormuesandel" type="BeloepSomHeltall">
            <xsd:annotation>
              <xsd:documentation>FormuesverdiForFormuesandel gjelder den skattepliktige sin andel og ikke hele eiendommen.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="formuesverdiForFormuesandelForUseksjonertBoenhet" type="BeloepSomHeltall">
            <xsd:annotation>
              <xsd:documentation>FormuesverdiForFormuesandelForUseksjonertBoenhet gjelder den skattepliktige sin andel og ikke hele eiendommen.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Finans">
    <xsd:complexContent>
      <xsd:extension base="Spesifisering"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Fondskonto" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/eb25e890-0fa6-11eb-8086-0050568351d2">
    <xsd:complexContent>
      <xsd:extension base="BankLaanOgForsikring">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="forsikringsselskapetsOrganisasjonsnummer" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="forsikringsselskapetsNavn" type="Organisasjonsnavn"/>
          <xsd:element minOccurs="0" name="kontonummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e328-9fe1-11e5-a9f8-e4115b280940" type="Kontonummer"/>
          <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForAksjeOgAksjefond" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="formuesverdiForKontanterMv" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e333084-6837-11e6-a7ce-fac03dffe1d7" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Fordring">
    <xsd:complexContent>
      <xsd:extension base="BankLaanOgForsikring">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="selskapetsNavn" type="Organisasjonsnavn"/>
          <xsd:element minOccurs="0" name="selskapetsOrganisasjonsnummer" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="selskapetsUtenlandskeIdentifikator" type="Tekst"/>
          <xsd:element minOccurs="0" name="skyldner" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b57408ba-d96a-11e6-8d9b-005056821322" type="Tekst"/>
          <xsd:element minOccurs="0" name="formuesverdi" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="opptjenteRenter" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="renteinntekt" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FormueOgInntektISelskapMedDeltakerfastsetting">
    <xsd:complexContent>
      <xsd:extension base="Spesifisering"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FritidsbaatMedSalgsverdiOverSalgsverdigrense" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b57408b7-d96a-11e6-8d9b-005056821322">
    <xsd:complexContent>
      <xsd:extension base="EiendelerOgFasteEiendommer">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="baatmerke" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b574088f-d96a-11e6-8d9b-005056821322" type="Tekst"/>
          <xsd:element minOccurs="0" name="antattSalgsverdi" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b5740879-d96a-11e6-8d9b-005056821322" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="forsikringssum" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/03c54f26-1f09-11e9-9d36-005056821322" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Generisk">
    <xsd:annotation>
      <xsd:documentation>Et generisk spesifikasjonsformat.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Spesifisering">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="beloep" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="kildenavn" type="Tekst">
            <xsd:annotation>
              <xsd:documentation>Navnet på hva som deles ut</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="kildebeskrivelse" type="Tekst">
            <xsd:annotation>
              <xsd:documentation>Beskrivelse av hva som deles ut</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GrunnlagKnyttetTilLottaker">
    <xsd:complexContent>
      <xsd:extension base="Naering">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="naeringsinntektForLottaker" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="oppdragsgiversNavn" type="Organisasjonsnavn"/>
          <xsd:element minOccurs="0" name="oppdragsgiversOrganisasjonsnummer" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="sykepengerOgLottFraOppdragsgiver" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="underskuddForLottaker" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IndividuellPensjonsordning">
    <xsd:complexContent>
      <xsd:extension base="ArbeidTrygdOgPensjon">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="oppgavegiverPensjonsinnbetalingerOrganisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/2b2920a3-e7e6-11e8-b7e4-005056821322" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="oppgavegiverPensjonsinnbetalingerNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/2b2920a3-e7e6-11e8-b7e4-005056821322" type="Organisasjonsnavn"/>
          <xsd:element minOccurs="0" name="premiefond" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e3330a1-6837-11e6-a7ce-fac03dffe1d7" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="KapitalisertFesteavgift">
    <xsd:complexContent>
      <xsd:extension base="EiendelerOgFasteEiendommer">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForKapitalisertFesteavgift" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6c325d88-ff95-11e8-a756-005056823b15" type="BeloepSomHeltall"/>
          <xsd:element name="gjeldsfradragForKapitalisertFesteavgift" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b57408f4-d96a-11e6-8d9b-005056821322" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Kjoeretoey" skatt:begrepsreferanse="&#9;http://begrepskatalog/begrep/a0905c2b-dc5e-11e5-8127-d6d6eb145c82">
    <xsd:complexContent>
      <xsd:extension base="EiendelerOgFasteEiendommer">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="beloep" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="registreringsnummer" skatt:begrepsreferanse="http://begrepskatalog/begrep/32890370-e04a-11e5-ab11-0050568351d2" type="Tekst">
            <xsd:annotation>
              <xsd:documentation>er beholdt av historiske årsaker.  Benyttes som synonym på kjennemerke: https://data.skatteetaten.no/begrep/kjennemerke</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="fabrikatnavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/fabrikatnavn" type="Tekst"/>
          <xsd:element minOccurs="0" name="aarForFoerstegangsregistrering" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/a0905c50-dc5e-11e5-8127-d6d6eb145c82" type="Aarstall">
            <xsd:annotation>
              <xsd:documentation>Begrep under behandling
                http://begrepskatalog/begrep/a0905c50-dc5e-11e5-8127-d6d6eb145c82</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="formuesverdi" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="antattVerdiSomNytt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b57408d7-d96a-11e6-8d9b-005056821322" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="antattMarkedsverdi" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="KollektivPensjonsordning" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/cf247fde-dfe5-11e7-9101-005056821322">
    <xsd:complexContent>
      <xsd:extension base="ArbeidTrygdOgPensjon">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="pensjonsutbetalersNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/2b2920a3-e7e6-11e8-b7e4-005056821322" type="Tekst"/>
          <xsd:element minOccurs="0" name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/2b2920a3-e7e6-11e8-b7e4-005056821322" type="Organisasjonsnummer">
            <xsd:annotation>
              <xsd:documentation>Pensjonsutbetaler sitt organisasjonsnummer</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="pensjonsinntektPerSkattleggingsperiode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/cf247ff4-dfe5-11e7-9101-005056821322" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="land" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940" type="Landkode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Konto" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/konto">
    <xsd:complexContent>
      <xsd:extension base="BankLaanOgForsikring">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="kontonummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e328-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="bankensNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/8ea2df23-7662-11e6-a74e-7e18b36b3fd9" type="Tekst"/>
          <xsd:element minOccurs="0" name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/organisasjonsnummer" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="innskudd" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/innskudd" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="opptjenteRenter" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1af-9fe1-11e5-a9f8-e4115b280940b" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="gjeld" skatt:begrepsreferanse="http://begrepskatalog/begrep/410ade56-9202-11e6-8b61-82ab1fa1f30b" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="paaloepteRenter" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1b0-9fe1-11e5-a9f8-e4115b280940" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="tilbakefoerteRenter" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e3330c5-6837-11e6-a7ce-fac03dffe1d7" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="betalteMisligholdteRenter" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1ab-9fe1-11e5-a9f8-e4115b280940" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="land" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940" type="Landkode"/>
          <xsd:element minOccurs="0" name="erBoligsparekontoIAnnenEOeSStat" skatt:begrepsreferanse="http://data.skatteetaten.no/begrep/cf247fc7-dfe5-11e7-9101-005056821322" type="Boolsk"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Livsforsikring" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1ce-9fe1-11e5-a9f8-e4115b280940">
    <xsd:complexContent>
      <xsd:extension base="BankLaanOgForsikring">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="livsforsikringsselskapetsNavn" type="Tekst"/>
          <xsd:element minOccurs="0" name="livsforsikringsselskapetsOrganisasjonsnummer" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="forsikringsnummer" type="Tekst"/>
          <xsd:element minOccurs="0" name="skattepliktigUtbetalingFraKapitalforsikringUtenGarantertAvkastning" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="avkastningAvKapitalforsikringsavtale" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e333073-6837-11e6-a7ce-fac03dffe1d7" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="skattepliktigTerminutbetalingFraLivrente" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/46f4d774-4c6c-11e8-bb3e-005056821322" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LoennOgTilsvarendeYtelser" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/cf247feb-dfe5-11e7-9101-005056821322">
    <xsd:complexContent>
      <xsd:extension base="ArbeidTrygdOgPensjon">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arbeidsgiversNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e243-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer">
            <xsd:annotation>
              <xsd:documentation>Arbeidsgiver's organisasjonsnummer</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="beloep" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/03c54f2b-1f09-11e9-9d36-005056821322" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="land" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dcfb4786-e484-11e6-9cb3-005056821322" type="Landkode"/>
          <xsd:element minOccurs="0" name="skattepliktigLoennTilBarnUnder13Aar" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Naering">
    <xsd:complexContent>
      <xsd:extension base="Spesifisering"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Naeringsopplysninger">
    <xsd:complexContent>
      <xsd:extension base="Naering">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="naeringstype" type="Tekst"/>
          <xsd:element minOccurs="0" name="naeringsinntektTilordnetInnehaver" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="naeringsinntekt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dcfb4779-e484-11e6-9cb3-005056821322" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="naeringsinntektFordeltFraEktefelle" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dcfb4779-e484-11e6-9cb3-005056821322" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="underskuddTilordnetInnehaver" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="underskudd" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="underskuddFordeltFraEktefelle" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6c325d60-ff95-11e8-a756-005056823b15" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="samletNaeringsinntektTilordnetInnehaverPaaSvalbard" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ObligasjonOgSertifikat" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e33309b-6837-11e6-a7ce-fac03dffe1d7">
    <xsd:complexContent>
      <xsd:extension base="Finans">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="rentepapiretsNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/adb3cce0-0fae-11eb-8086-0050568351d2" type="Tekst"/>
          <xsd:element minOccurs="0" name="kontofoerersNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c97eae0-0fae-11eb-8086-0050568351d2" type="Tekst"/>
          <xsd:element minOccurs="0" name="kontonummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e328-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="finansproduktidentifikatortype" type="Tekst"/>
          <xsd:element minOccurs="0" name="antallObligasjonerOgSertifikater" type="Antall"/>
          <xsd:element minOccurs="0" name="formuesverdiForObligasjonOgSertifikat" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e333085-6837-11e6-a7ce-fac03dffe1d7" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="renteinntektAvObligasjonOgSertifikat" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e3330a8-6837-11e6-a7ce-fac03dffe1d7" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="skattepliktigGevinstVedRealisasjonAvObligasjonOgSertifikat" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e3330b5-6837-11e6-a7ce-fac03dffe1d7" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="land" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940" type="Landkode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PrivatFordringUtenforVirksomhetTilPrivatperson">
    <xsd:annotation>
      <xsd:documentation>Benyttes ikke fra og med inntektsår 2021. Erstattes av Fordring.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="BankLaanOgForsikring">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="skyldner" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b57408ba-d96a-11e6-8d9b-005056821322" type="Tekst"/>
          <xsd:element minOccurs="0" name="formuesverdi" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PrivatGjeldsforholdUtenforVirksomhet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b5740870-d96a-11e6-8d9b-005056821322">
    <xsd:complexContent>
      <xsd:extension base="BankLaanOgForsikring">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="fordringshaver" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b574089c-d96a-11e6-8d9b-005056821322" type="Tekst">
            <xsd:annotation>
              <xsd:documentation>Fordringshaver sitt navn, eller teksten "Lån fra privatperson" dersom fordringen er fra en privatperson.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="organisasjonsnummer" type="Organisasjonsnummer">
            <xsd:annotation>
              <xsd:documentation>Fordringshaver sitt organisasjonsnummer. Dette feltet er fjernet fra skattemeldingen for 2020 og vil da ikke ha verdi. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="gjeld" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/2b2920ae-e7e6-11e8-b7e4-005056821322" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="paaloepteRenter" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SamletGjeldOgFormuesobjekterINaering">
    <xsd:complexContent>
      <xsd:extension base="Naering">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="samletGjeldINaering" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="samletGjeldINaeringFordeltFraEktefelle" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Skadeforsikring" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1e0-9fe1-11e5-a9f8-e4115b280940">
    <xsd:complexContent>
      <xsd:extension base="BankLaanOgForsikring">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="skadeforsikringsselskapetsNavn" skatt:begrepsreferanse="" type="Organisasjonsnavn"/>
          <xsd:element minOccurs="0" name="skadeforsikringsselskapetsOrganisasjonsnummer" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="skadenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1bd-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="utbetalingFraSkadeforsikring" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/03c54f2f-1f09-11e9-9d36-005056821322" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SkyldigRestskatt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/cf248012-dfe5-11e7-9101-005056821322">
    <xsd:complexContent>
      <xsd:extension base="BankLaanOgForsikring">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="betalteForsinkelsesrenterForSamletSkyldigRestskatt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/41b9c8b4-973b-11e9-bed2-005056821322" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="samletSkyldigRestskatt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Spesifisering">
    <xsd:annotation>
      <xsd:documentation>Beskrivelse av skatteobjekt eller skattegrunnlag som kan ha vært brukt til utregning av det summerte skattegrunnlaget</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="type" type="Tekst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SummertSkattegrunnlagsobjekt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/skattegrunnlag">
    <xsd:annotation>
      <xsd:documentation>Myndighetsfastsatte opplysninger om den skattepliktige, den skattepliktiges økonomi (inntekt/fradrag/formue/gjeld), innførsel, omsetning og uttak og den skattepliktiges produksjon og varehåndtering, klassifisert, verdisatt og korrekt periodisert. Den skattepliktige skal kunne observere skattegrunnlaget i sine omgivelser.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tekniskNavn" type="Tekst">
        <xsd:annotation>
          <xsd:documentation>Feltets lovlige verdier er bestemt av kodeliste for året det søkes på.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beloep" skatt:begrepsreferanse="http://begrepskatalog/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940" type="BeloepSomHeltall"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="spesifisering" type="Spesifisering"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kategori" type="Tekst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SykepengerOgAnnenInntektMvFraOppgavegiver">
    <xsd:complexContent>
      <xsd:extension base="Naering">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="oppgavegiversNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/a7e7e210-0fae-11eb-8086-0050568351d2" type="Organisasjonsnavn"/>
          <xsd:element minOccurs="0" name="oppgavegiversOrganisasjonsnummer" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="utbetalingTilSelvstendigNaeringsdrivende" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="naeringstype" type="Tekst"/>
          <xsd:element minOccurs="0" name="beloep" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UnderholdsbidragSkyldigOgTilGode">
    <xsd:complexContent>
      <xsd:extension base="BankLaanOgForsikring">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="skyldigUnderholdsbidrag" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/cf248013-dfe5-11e7-9101-005056821322" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="underholdsbidragTilGode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e3330d0-6837-11e6-a7ce-fac03dffe1d7" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="rapporterendeEnhetOrganisasjonsnummer" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="rapporterendeEnhetNavn" type="Organisasjonsnavn"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Verdipapirfond" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e3330d5-6837-11e6-a7ce-fac03dffe1d7">
    <xsd:complexContent>
      <xsd:extension base="Finans">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="fondetsNavn" type="Tekst"/>
          <xsd:element minOccurs="0" name="fondetsOrganisasjonsnummer" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="isinnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e325-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="antallAndeler" type="Desimaltall"/>
          <xsd:element minOccurs="0" name="skattepliktigUtbytte" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6c325d68-ff95-11e8-a756-005056823b15" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="skattepliktigGevinstVedRealisasjonAvAndelIAksjedel" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="oppgavegiversOrganisasjonsnummer" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="oppgavegiversNavn" type="Organisasjonsnavn"/>
          <xsd:element minOccurs="0" name="land" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940" type="Landkode"/>
          <xsd:element minOccurs="0" name="formuesverdiForAndelIRentedel" skatt:begrepsreferanse="&quot;https://data.skatteetaten.no/begrep/876a9f50-0fae-11eb-8086-0050568351d2" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForAndelIAksjedel" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="skattepliktigGevinstVedRealisasjonAvAndelIRentedel" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b8d9cde0-0fae-11eb-8086-0050568351d2" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="skattepliktigRenteinntekt" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtuellValuta" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/be8d9cd0-0fae-11eb-8086-0050568351d2">
    <xsd:complexContent>
      <xsd:extension base="Finans">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="virtuellValutanavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/a226a5a0-0fae-11eb-8086-0050568351d2" type="Tekst"/>
          <xsd:element minOccurs="0" name="kontonummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e328-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
          <xsd:element minOccurs="0" name="antall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e145-9fe1-11e5-a9f8-e4115b280940" type="Desimaltall"/>
          <xsd:element minOccurs="0" name="formuesverdiForVirtuellValuta" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="gjelderFlereVirtuelleValutaer" type="Boolsk"/>
          <xsd:element minOccurs="0" name="land" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940" type="Landkode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OekonomiskeForholdKnyttetTilBoligsameieEllerBoligselskap">
    <xsd:complexContent>
      <xsd:extension base="EiendelerOgFasteEiendommer">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="andelAvFellesgjeldIBoligsameie" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b5740865-d96a-11e6-8d9b-005056821322" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="andelAvAnnenFormueIBoligsameie" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fce4-2964-11e6-b2bc-96405985e0fa" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="andelAvFellesgjeldIBoligselskap" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fce6-2964-11e6-b2bc-96405985e0fa" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="andelAvAnnenFormueIBoligselskap" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fce5-2964-11e6-b2bc-96405985e0fa" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="navn" skatt:begrepsreferanse="" type="Tekst">
            <xsd:annotation>
              <xsd:documentation>https://data.skatteetaten.no/begrep/20b2e17b-9fe1-11e5-a9f8-e4115b280940
                https://data.skatteetaten.no/begrep/20b2e16d-9fe1-11e5-a9f8-e4115b280940</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="eierandel" type="Prosent"/>
          <xsd:element minOccurs="0" name="organisasjonsnummer" type="Organisasjonsnummer"/>
          <xsd:element minOccurs="0" name="andelAvAndreFradragsberettigedeKostnaderIBoligselskap" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fce7-2964-11e6-b2bc-96405985e0fa" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="andelAvAndreFradragsberettigedeKostnaderIBoligsameie" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fce7-2964-11e6-b2bc-96405985e0fa" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="Tekst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Foedselsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5138da10-be20-11e6-8004-005056825ca0">
    <xsd:annotation>
      <xsd:documentation>ellevesifret identifikasjonsnummer for personer bosatt i Norge, der de seks første sifrene angir fødselsdato og de fem siste personnummer.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:pattern value="[0-9]+"/>
      <xsd:length value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Aarstall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e14a-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>årstall er et tall som angir årets nummer i tidsregningen i den gregorianske kalender</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:gYear"/>
  </xsd:simpleType>
  <xsd:simpleType name="Boolsk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>angir verdien sann eller usann</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>
  <xsd:simpleType name="Dato" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aed-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i  ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times).
        Eksempel : 1998-12-21 eller 19981221.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date"/>
  </xsd:simpleType>
  <xsd:simpleType name="DatoKlokkeslett" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aee-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times).</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>
  <xsd:simpleType name="Organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>9 sifret nummer gitt de som er registrert i Enhetsregisteret.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:pattern value="[0-9]+"/>
      <xsd:length value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Heltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af0-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>hele tall, dvs. hele tall i mengden {..., -2, -1, 0, 1, 2, ...}</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:long"/>
  </xsd:simpleType>
  <xsd:simpleType name="Antall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e145-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>mengde som utgjør eller kan uttrykkes i et visst tall</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Heltall"/>
  </xsd:simpleType>
  <xsd:simpleType name="BeloepSomHeltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>en sum av penger i hele kroner brukt i en kontekst. Dette kan være en transaksjon, saldo o.l.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Heltall"/>
  </xsd:simpleType>
  <xsd:simpleType name="Desimaltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aef-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>tall som er satt sammen av en heltallsdel og en fraksjondel [wikipedia]</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <xsd:simpleType name="Landkode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>koder for land etter ISO 3166-1 Alpha-2</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:pattern value="([A-Z]){2}"/>
      <xsd:length value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Organisasjonsnavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a7-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>navn på organisasjon</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:maxLength value="175"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Kontonummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e328-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="Tekst"/>
  </xsd:simpleType>
  <xsd:simpleType name="Kommunenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f3-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>nummer for kommune</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:pattern value="([0-9]){4}"/>
      <xsd:length value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Prosent" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5d2b8b80-b7e8-11e7-aa27-0050568351d2">
    <xsd:annotation>
      <xsd:documentation>Prosent betyr hundredel eller per hundre, og representeres ofte av et tall etterfulgt av tegnet '%'. Prosent er altså en hundredel av en gitt mengde. Eksempelvis vil en prosent av 1000 være 10.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Desimaltall"/>
  </xsd:simpleType>
</xsd:schema>